@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Raleway', sans-serif;

$base-font-size:   1.1rem !default;
$base-font-weight: 400 !default;
$big-font-size: 1.5rem !default;
$big-font-weight: 700 !default;
$small-font-size:  $base-font-size * 0.5 !default;
$base-line-height: 1.5 !default;

$text-color:       #ccebf8 !default;
$background-color: #0d1e48 !default;
$brand-color:      #fea9ff !default;

$table-text-align: left !default;

// Import partials.
@import
  "sassy/base",
  "sassy/layout"
;
