body, h1, h2, h3,
p, ul, li, figure {
  margin: 0;
  padding: 0;
  line-height: $base-line-height;
}

@keyframes background {
  0%   {background-color: $background-color;}
  25%  {background-color: $background-color2;}
  50%  {background-color: $background-color3;}
  100% {background-color: $background-color4;}
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  animation: background 5s linear 2s infinite alternate;
  -webkit-text-size-adjust: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  scroll-behavior: smooth;
  text-align: center;
}

@mixin margins {
  width: 70vw;
  margin: auto;
}

main, .footer-wrapper, .title {
  @include margins();
}

p {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: $brand-color;
  font-weight: $base-font-weight;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

sup {
  font-size: $small-font-size;
  text-transform: uppercase;
}

@media (min-width: 620px) {
  p {
    max-width: 60%;
    margin: auto;
  }
}